.head {
    background-image: url("../../img/bg-img.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.head__slider {
    min-height: 193px;
    background: rgba(33, 33, 33, 0.5);
}
.top-slider__item {
    min-height: 193px;
    text-align: center;
    color: var(--white);
}
.top-slider__title {
    font-family: 'Roboto Condensed Regular', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    text-transform: uppercase;
    padding: 38px 0 28px;
    max-width: 243px;
    margin: 0 auto;
    position: relative;
}
.top-slider__text {
    display: none;
}
.top-slider__button {
    display: none;
}
.top-slider__title::after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    width: 61px;
    height: 8px;
    margin: 0 auto;

    background-color: var(--grey);
}
.top-slider .swiper-pagination-bullet {
    background-color: var(--accent);
    opacity: 1;
    width: 10px;
    height: 10px;
}
.top-slider .swiper-pagination-bullet-active {
    background-color: transparent;
    border: 1px solid #476E4D;
}

@media (min-width: 320px) {
    .top-slider__button-next, .top-slider__button-prev {
        display: none;
    }
}
@media (min-width: 640px) {
    .head__slider {
        min-height: 386px;
    }
    .top-slider__item {
        min-height: 386px;
    }
    .top-slider__title {
        font-size: 60px;
        line-height: 100%;
        padding: 50px 0 15px;
        margin: 0 auto 30px;
        max-width: 522px;
    }
    .top-slider__button {
        display: block;
        font-size: 18px;
        font-family: 'Roboto Regular', 'sans-serif';
        font-style: normal;
        font-weight: 400;
        text-transform: uppercase;
        background-color: var(--accent);
        color: var(--bg-color);
        margin: 0 auto;
        padding: 16px 45px;
        border: none;
        border-radius: 3px;
    }
    .top-slider .swiper-pagination-bullets {
        bottom: 50px !important;
    }
    .top-slider__button-next, .top-slider__button-prev {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        right: 0;
        opacity: 1;
        width: 56px;
        height: 56px;
        z-index: 6;
    }
    .top-slider__button-next {
        bottom: calc(50% - 56px);
        background-color: var(--bg-color);
    }
    .top-slider__button-prev {
        top: calc(50% - 56px);
        background-color: var(--accent);
    }
}
@media (min-width: 768px) {
    .head__slider {
        min-height: 465px;
    }
    .top-slider__title {
        margin-bottom: 0;
        padding: 87px 0 0;
    }
    .top-slider__title:after {
        display: none;
    }
    .top-slider__text {
        display: block;
        margin: 0 auto;
        padding: 25px 0 32px;
        font-family: 'Roboto Condensed Regular', 'sans-serif';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 20px;
        max-width: 580px;

        color: var(--white);
    }
}

@media (min-width: 1024px) {
    .head__slider {
        min-height: 618px;
    }
    .top-slider__title {
        max-width: 750px;
        padding-top: 101px;
        font-size: 84px;
        line-height: 100%;
        letter-spacing: 2px;
    }
    .top-slider .swiper-pagination-bullets {
        bottom: 80px!important;
    }
}
@media (min-width: 1440px) {
    .head__slider {
        min-height: 668px;
    }
    .top-slider__title {
        max-width: 750px;
        padding-top: 107px;
        font-size: 96px;
        line-height: 100%;
        letter-spacing: 2px;
    }
    .top-slider__text {
        max-width: 880px;
        font-size: 24px;
        line-height: 26px;
    }
    .top-slider .swiper-pagination-bullet {
        background-color: var(--white);
    }
    .top-slider .swiper-pagination-bullet-active {
        background-color: transparent;
        border: 1px solid var(--white);
    }
    .top-slider__button-next, .top-slider__button-prev {
        width: 70px;
        height: 70px;
    }
    .top-slider__button-next {
        bottom: calc(50% - 70px);
    }
    .top-slider__button-prev {
        top: calc(50% - 70px);
    }
}