.header {
    background-color: var(--accent);
}
.header__inner {
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    z-index: 101;
}
.logo__link {
    margin-left: 8px;
}
.menu__btn {
    width: 40px;
    height: 40px;
    border-radius: 3px;
    border: none;
    background-color: var(--white);
    position: relative;
    z-index: 101;
}
.menu__btn:after {
    content: "";
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background-color: var(--accent);
    position: absolute;
    top: 15px;
    left: 14px;
}
.menu__btn:before {
    content: "";
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background-color: var(--accent);
    position: absolute;
    bottom: 15px;
    left: 14px;
}
.menu__btn-line {
    content: "";
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background-color: var(--accent);
    position: absolute;
    top: 50%;
    left: 14px;
    transform: translateY(-50%);
}

.header__menu {
    position: absolute;
    padding-top: 120px;
    padding-left: 20px;
    width: 100%;
    height: 100%;
    left: -100%;
    transform: translateX(-50%);
    top: 0;
    background: var(--accent);
    transition: left 0.5s ease;
    overflow: auto;
    z-index: 100;
}
.header__list {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    min-height: 100px;
}
.header__list-item:not(:first-child) {
    margin-top: 15px;
}
.header__link {
    position: relative;
    font-family: Roboto Medium,"sans-serif";
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;

    color: var(--white);

    text-decoration: none;
}
.header__link:before {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    left: 0;
    bottom: -4px;
    background-color: var(--white);
    transform: scaleX(0);
    transition: all 0.3s;
}
.header__link:hover::before {
    transform: scale(1);
}
.menu__btn:after {
    animation: ease 0.5s top-back forwards;
}
.menu__btn-line {
    animation: ease 0.5s middle-back forwards;
}
.menu__btn:before {
    animation: ease 0.5s bottom-back forwards;
}
.active .header__menu {
    left: 50%;
    transform: translateX(-50%);
}
.active .menu__btn:after {
    animation: ease 0.5s top forwards;
}
.active .menu__btn-line {
    animation: ease 0.5s middle forwards;
}
.active .menu__btn:before {
    animation: ease 0.5s bottom forwards;
}

@keyframes top {
    0% {
        transform: rotate(0);
    }
    50% {
        transform: rotate(0);
    }
    100% {
        top: 20px;
        transform: rotate(45deg);
    }
}

@keyframes top-back {
    0% {
        transform: rotate(45deg);
    }
    50% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(0);
    }
}

@keyframes middle {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes middle-back {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(0);
    }
    100% {
        top: 50%;
        transform: scale(1) translateY(-50%);
    }
}

@keyframes bottom {
    0% {
        transform: rotate(0);
    }
    50% {
        transform: rotate(0);
    }
    100% {
        top: 20px;
        transform: rotate(135deg);
    }
}

@keyframes bottom-back {
    0% {
        transform: rotate(135deg);
    }
    50% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(0);
    }
}

@media (min-width: 640px) {
    .header__menu {
        padding-left: 30px;
    }
    .logo__link {
        margin-left: 14px;
    }
    .menu__btn {
        width: 60px;
        height: 60px;
    }
    .menu__btn:after, .menu__btn:before, .menu__btn-line {
        width: 32px;
        height: 4px;
        border-radius: 4px;
    }
    .header__inner {
        min-height: 100px;
    }
    @keyframes bottom {
        0% {
            transform: rotate(0);
        }
        50% {
            transform: rotate(0);
        }
        100% {
            top: 30px;
            transform: rotate(135deg);
        }
    }
    @keyframes top {
        0% {
            transform: rotate(0);
        }
        50% {
            transform: rotate(0);
        }
        100% {
            top: 30px;
            transform: rotate(45deg);
        }
    }
}
@media (min-width: 768px) {
    .logo__link {
        margin-left: 0;
    }
}
@media (min-width: 1024px) {
    .header__menu {
        padding: 0;
        max-width: 600px;
        height: 100px;
    }
    .header__list {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .header__list-item:not(:first-child) {
        margin-top: 0;
    }
}
@media (min-width: 1440px) {
    .header__menu {
        max-width: 800px;
    }
    .menu__btn {
        margin-right: 90px;
    }
}