.news {
    padding: 40px 0;
    background-color: var(--bg-color);
}
.news__title {
    font-family: 'Roboto Condensed Regular', 'sans-serif';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 38px;
    text-align: center;

    color: var(--grey);

    margin-bottom: 68px;
}
.news__list {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
}
.news-list__item {
    grid-column: 4 span;
    transition: all .5s;
}
.news-post {
    position: relative;
    display: flex;
    flex-direction: column;
}
.news-post__image {
    display: block;
}
.news-post__btn svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 28px;
    height: 28px;
    object-fit: cover;
}
.news-post__btn {
    opacity: 0;
    transition: all .5s;
}
.news-list__item:hover {
    padding: 8px;
    background-color: var(--accent);
    transition: all .5s;
}
.news-list__item:hover .news-post__btn {
    opacity: 1;
    transition: all .5s;
}
.news-list__item:hover .news-post__title {
    position: absolute;
    bottom: 20px;
    width: 100%;
    color: var(--white);
    background-color: var(--accent);
    z-index: 5;
    transition: all .5s
}
.news-post__image img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.news-post__title {
    font-family: 'Roboto Condensed Bold', 'sans-serif';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 2px;

    padding: 10px 20px;

    color: var(--grey);
    background-color: var(--white);
    bottom: 0;
    transition: all .5s
}

@media (min-width: 640px) {
    .news__title {
        font-size: 48px;
    }
    .news__title:after {
        width: 100px;
    }
    .news__list {
        margin: 0 auto;
        max-width: 570px;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(76, 1px);
        align-items: start;
    }
    .news-list__item:nth-child(1) {
        grid-row-start: 1;
        grid-row-end: 24;
    }
    .news-list__item:nth-child(2) {
        grid-row-start: 1;
        grid-row-end: 20;
    }
    .news-list__item:nth-child(3) {
        grid-row-start: 25;
        grid-row-end: 46;
    }
    .news-list__item:nth-child(4) {
        grid-row-start: 21;
        grid-row-end: 34;
    }
    .news-list__item:nth-child(5) {
        grid-row-start: 47;
        grid-row-end: 58;
    }
    .news-list__item:nth-child(6) {
        grid-row-start: 34;
        grid-row-end: 52;
    }
    .news-list__item:nth-child(7) {
        grid-row-start: 58;
        grid-row-end: 77;
    }
    .news-list__item:nth-child(8) {
        grid-row-start: 54;
        grid-row-end: 77;
    }
}
@media (min-width: 768px) {
}
@media (min-width: 1024px) {
    .news-post__title {
        font-size: 16px;
    }
    .news__list {
        max-width: 100%;
        grid-gap: 30px;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(41, 1px);
    }
    .news-list__item:nth-child(1) {
        grid-row-start: 1;
        grid-row-end: 17;
    }
    .news-list__item:nth-child(2) {
        grid-row-start: 1;
        grid-row-end: 14;
    }
    .news-list__item:nth-child(3) {
        grid-row-start: 1;
        grid-row-end: 16;
    }
    .news-list__item:nth-child(4) {
        grid-row: 19/28;
    }
    .news-list__item:nth-child(5) {
        grid-column: 1/5;
        grid-row: 29/41;
    }
    .news-list__item:nth-child(6) {
        grid-column: 9/13;
        grid-row: 17/41;
    }
    .news-list__item:nth-child(7) {
        grid-column: 5/9;
        grid-row: 15/41;
    }
    .news-list__item:nth-child(8) {
        grid-column: 5/9;
        grid-row: 24/41;
    }
}
@media (min-width: 1440px) {
    .news__list {
        grid-template-rows: repeat(26, 1px);
        max-width: 1171px;
    }
    .news-list__item {
        grid-column: 3 span;
    }
    .news-list__item:nth-child(1) {
        grid-row-start: 1;
        grid-row-end: 17;
    }
    .news-list__item:nth-child(2) {
        grid-row-start: 1;
        grid-row-end: 14;
    }
    .news-list__item:nth-child(3) {
        grid-row-start: 1;
        grid-row-end: 15;
    }
    .news-list__item:nth-child(4) {
        grid-row-start: 1;
        grid-row-end: 10;
    }
    .news-list__item:nth-child(5) {
        grid-column: 1/4;
        grid-row-start: 17;
        grid-row-end: 27;
    }
    .news-list__item:nth-child(6) {
        grid-column: 4/7;
        grid-row-start: 14;
        grid-row-end: 27;
    }
    .news-list__item:nth-child(7) {
        grid-column: 7/10;
        grid-row-start: 16;
        grid-row-end: 27;
    }
    .news-list__item:nth-child(8) {
        grid-column: 10/13;
        grid-row-start: 10;
        grid-row-end: 27;
    }
}