@import "libs/normalize.css";
@import "_vars.css";
@import "_fonts.css";
@import "blocks.css";

html {
    box-sizing: border-box;
}

*, *:after, *:before {
    box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

button {
    padding: 0;
    cursor: pointer;
}

body {
    min-width: 320px;
    overflow-x: hidden;
    font-family: 'Roboto Condensed Bold', 'Arial', 'sans-serif';
    font-size: 16px;
    font-weight: 300;
    line-height: 100%;
}

.container {
    margin: 0 auto;
    padding: 0 20px;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

@media (min-width: 640px) {
    .container {
        padding: 0 30px;
    }
}
@media (min-width: 768px) {
    .container {
        padding: 0 40px;
    }
}
@media (min-width: 1024px) {
    .container {
        max-width: 1200px;
        padding: 0 40px;
    }
}
@media (min-width: 1440px) {
    .container {
        max-width: 1320px;
    }
    .menu__btn {
        margin-right: 90px;
    }
}